@charset "UTF-8";

:root {
  /* color */
  --gray: #62738a;
  --light-blue: #00b0ff;
  --dark-blue: #0056ff;
  --white: #ffffff;
}

/* fonts */
.dancingScript {
  font-family: "Dancing Script", cursive;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* ajuste posiçao anchor */
section {
  scroll-margin-top: 250px;
}

/* header */
header nav ul li .nav-link {
  font-weight: bold;
  color: var(--gray);
  font-size: 1.68em;
  letter-spacing: -0.54px;
}

header #navbar-items ul li {
  padding: 50px 0 50px 0;
}

header nav .navbar-brand img {
  padding: 8px 0 8px 0;
  margin: 0 10px 0 10px;
}

header nav .navbar-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header nav .navbar-toggler {
  border: none;
  font-size: 2em;
}

header nav .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

header .navbar {
  padding: 0;
}

/* carousel banner */
#banner {
  margin-top: 155px;
}

#banner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent -o-linear-gradient(
      157deg,
      var(--dark-blue) 0%,
      #00eeff 100%
    ) 0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(293deg, var(--dark-blue) 0%, #00eeff 100%) 0% 0% no-repeat
    padding-box;
  opacity: 0.5;
}

#banner .carousel-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

#banner .carousel-item h5 {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.54px;
  width: 100%;
  text-shadow: 0px 3px 6px #00000029;
}

#banner .carousel-item p {
  font-size: 1.87em;
  letter-spacing: -0.54px;
  text-shadow: 0px 3px 6px #00000029;
}

#banner .carousel-item a {
  border-radius: 38px;
  font-size: 1.62em;
  color: var(--light-blue);
  width: 200px;
  border: none;
  padding: 9px 0 9px 0;
  font-weight: bold;
  background-color: var(--white);
  border: 3px solid var(--white);
  /* transiçao para quando tirar o mouse de cima do botao, fazendo uma animaçao mais suave */
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* transiçao e escala para hover, e active para o mobile */
#banner .carousel-item a:hover,
#banner .carousel-item a:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* sobre */
#sobre {
  background: transparent -o-linear-gradient(1deg, #ffffff 0%, #dfe7f5 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(89deg, #ffffff 0%, #dfe7f5 100%) 0% 0%
    no-repeat padding-box;
}

#sobre .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#sobre h1 {
  font-size: 1.37em;
  font-weight: 600;
  color: var(--gray);
  margin-top: 50px;
}

#sobre h2 {
  font-size: 2.87em;
  font-weight: 700;
  color: var(--dark-blue);
}

#sobre p {
  font-size: 1.25em;
  font-weight: 400;
  color: var(--gray);
}

#sobre p:last-child {
  margin-bottom: 50px;
}

#sobre img {
  margin-top: 50px;
}

/* servicos */
#servico {
  margin: 50px 0 50px 0;
}

#servico h1 {
  font-size: 2.75em;
  color: #0056ff;
  font-weight: bold;
}

#servico #servico-title p {
  font-size: 1.25em;
  color: #888888;
  margin: 0 200px 0 200px;
}

#servico #servico-title h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background: url(../img/onda.svg) no-repeat center;
}

#servico #servico-cards p {
  font-size: 1.75em;
  font-weight: bold;
  color: var(--gray);
  text-align: center;
  margin-top: 15px;
}
#servico #servico-cards img {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 30px;
}

#servico #servico-cards img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* contato */
#contato {
  background: transparent -o-linear-gradient(181deg, #ffffff 0%, #dfe7f5 100%) 0%
    0% no-repeat padding-box;
  background: transparent linear-gradient(269deg, #ffffff 0%, #dfe7f5 100%) 0%
    0% no-repeat padding-box;
  padding: 50px 0 50px 0;
}

#contato h1 {
  font-size: 3.75em;
  color: var(--dark-blue);
  font-weight: bold;
}

#contato p {
  font-size: 1.25em;
  color: var(--gray);
  font-weight: 400;
}

#contato #contato-conteudo #checkbox {
  font-size: 1em;
  color: var(--gray);
  font-weight: 400;
}

#contato #contato-conteudo #checkbox span {
  text-decoration: underline;
}

#contato #contato-conteudo {
  margin-top: 20px;
}

#contato #contato-conteudo form textarea {
  resize: none;
  border: none;
  border-radius: 0;
  outline: 0;
}

#contato #contato-conteudo form input {
  border: none;
  border-radius: 0;
  outline: 0;
}

#contato #contato-conteudo form button {
  border-radius: 38px;
  font-size: 1.625em;
  color: var(--white);
  background-color: var(--light-blue);
  width: 200px;
  border: 3px solid var(--light-blue);
  font-weight: 800;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#contato #contato-conteudo form button:hover,
#contato #contato-conteudo form button:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#contato .social-item p {
  font-size: 1.625em;
  color: var(--gray);
  font-weight: bold;
  margin: 0 0 0 20px;
}

#contato .social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 0 30px 50px;
}

#contato .social-item .bg-img {
  background-color: var(--white);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* transiçao para quando tirar o mouse de cima da img, fazendo uma animaçao mais suave */
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* transiçao e escala para hover, e active para o mobile */
#contato .social-item .bg-img:hover,
#contato .social-item .bg-img:active {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#contato #contato-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* map */
#map {
  width: 100%;
  height: 600px;
}

/* footer */
footer {
  background: transparent -webkit-gradient(
      linear,
      left top,
      right top,
      from(var(--dark-blue)),
      to(#00eeff)
    ) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(
      left,
      var(--dark-blue) 0%,
      #00eeff 100%
    ) 0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(90deg, var(--dark-blue) 0%, #00eeff 100%) 0% 0% no-repeat
    padding-box;
}

footer img:not(.social img) {
  width: 250px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer h1 {
  font-size: 2.25em;
  font-weight: bold;
  padding: 80px 0 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--white);
  margin: 0 25px 0 0;
}

footer a:last-child {
  margin-left: 14px;
}

/* transiçao para quando tirar o mouse de cima da img, fazendo uma animaçao mais suave */
footer .social-icons img {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* transiçao e escala para hover, e active para o mobile */
footer .social-icons img:hover,
footer .social-icons img:active {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* configuraçoes tablet até mobile */
@media (max-width: 992px) {
  /* ajuste posiçao anchor */
  section {
    scroll-margin-top: 250px;
  }

  header nav #navbar-items ul li {
    padding: 0;
    text-align: center;
  }

  header nav .navbar-brand img {
    padding: 0;
    width: 250px;
  }

  header nav .navbar-brand,
  header nav .navbar-toggler {
    margin: 5px 0 5px 0;
  }

  header .navbar-toggler {
    padding: 0 4px 0 4px;
  }

  /* banner */
  #banner {
    margin-top: 48px;
  }
  #banner .carousel-item h5 {
    font-size: 3em;
  }

  #banner .carousel-item p {
    font-size: 1.25em;
  }

  #banner .carousel-item a {
    font-size: 1.62em;
  }

  #banner .carousel-item .img-fluid {
    height: 94vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  #banner .carousel-control-next,
  #banner .carousel-control-prev {
    display: none;
  }

  #banner .carousel-caption {
    width: 100%;
    left: 0;
  }

  /* footer */
  footer .container,
  footer .social:not(.social-icons) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer h1 {
    margin-right: 0;
    color: var(--light-blue);
  }

  footer h1,
  footer img {
    padding: 0;
    margin-top: 15px;
  }

  footer img:not(.social img) {
    margin-top: 50px;
  }

  footer .social img {
    margin-bottom: 50px;
  }

  footer {
    background: var(--dark-blue) 0% 0% no-repeat padding-box;
  }

  /* contato */
  #contato {
    background: #ebf0f8 0% 0% no-repeat padding-box;
  }

  #contato #contato-conteudo form .btn-enviar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #contato h1 {
    font-size: 2.5em;
  }

  #contato p {
    font-size: 1.1em;
  }

  /* servico */
  #servico #servico-cards img {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  #servico #servico-cards img:hover {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #servico #servico-cards div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #servico #servico-title p {
    margin: 0;
    font-size: 1.12em;
    text-align: center;
  }

  #servico h1 {
    font-size: 1.87em;
  }

  /* sobre */
  #sobre {
    background: #ebf0f8 0% 0% no-repeat padding-box;
  }

  #sobre h1 {
    font-size: 1.12em;
    text-align: center;
    margin-top: 50px;
  }

  #sobre h2 {
    font-size: 2.5em;
    text-align: center;
  }

  #sobre p {
    font-size: 1.12em;
    text-align: center;
  }

  #sobre p:last-child {
    margin-bottom: 50px;
  }
}

/* ajuste de fontes no banner para tamanho especificos de tela */
@media (max-width: 351px) {
  #contato h1 {
    font-size: 2.2em;
    width: 100%;
  }
}

@media (max-width: 629px) {
  #banner .carousel-item h5 {
    font-size: 2.5em;
  }

  header .container {
    padding: 0;
    margin: 0 5px 0 5px;
  }
}
